
{{!

 Copyright (c) 2018 superadmin (email : superadmin@superadmin.es)

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License, version 2 or, at
 your discretion, any later version, as published by the Free
 Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

}}

<div class="theme-browser">
	<div class="themes wp-clearfix">
		<a target="_blank" href="https://superadmin.es/adapta-rgpd">
			<div class="theme">	
				<div class="theme-screenshot">
					
						<img src="{{url}}assets/images/1.png" alt="">
				</div>			
				<div class="theme-id-container">
					
						<h3 class="theme-name">Ayuda</h3>		
				</div>
			</div>
		</a>


		<a target="_blank" href="https://superadmin.es/adapta-rgpd/consulta">
			<div class="theme">	
				<div class="theme-screenshot">					
						<img src="{{url}}assets/images/2.png" alt="">
				</div>			
				<div class="theme-id-container">					
						<h3 class="theme-name">Contacto</h3>		
				</div>
			</div>
		</a>
	</div>
</div>

<div style="max-width: 540px;">
	<p>
		&laquo;Adapta RGDP&raquo; crea y actualiza los textos legales necesarios para cumplir el <a href="https://superadmin.es/blog/que-es/rgpd/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" target="_blank">RGPD</a> &mdash;Reglamento General de Protección de Datos&mdash; que entro en vigor en mayo de 2018.
	</p>
	<p>
		En el menú Páginas aparecen publicadas 3 nuevas páginas con los textos legales principales:
		<ul>
			<li>&bull; Aviso Legal</li>
			<li>&bull; Política de Privacidad</li>
			<li>&bull; Política de Cookies</li>
		</ul>
	</p>
	<p>
		También en el menú principal, aparece un nuevo apartado con el nombre <b>Adapta RGPD</b> que sirve para ajustar el plugin a las características de cada sitio web.
	</p>

	<br>
	<h2>Menú Adapta RGPD</h2>
	<p>
		El menú "Adapta RGPD" está formado por 3 pestañas:
	</p>
	<h4>Titular</h4>
	</p>
		Está compuesta por un formulario que sirve para rellenar los datos del titular &mdash; ya sea un particular o una empresa&mdash; y del sitio web. 
	</p>

	<h4>Integración</h4>
	<p>
		Tiene 3 apartados que en su conjunto sirven para dar cumplimiento al RGPD:
		<ul>
			<li>&bull; Páginas Legales.- Para activar o desactivar las páginas de Aviso Legal, Política de Privacidad y la Política de Cookies.</li>
			<li>&bull; Consentimiento y Deber de Informar.- Para adecuar los formularios al RGPD.</li>
			<li>&bull; Ley de Cookies.- Para activar el banner de cookies con un diseño que se ajusta a cualquier sitio.</li>
		</ul> 
	</p>

	<h4>Ayuda</h4>
	<p>
		Esta ayuda y este <a href="https://superadmin.es/contacto/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" target="_blank">enlace</a> desde el que <b>puedes mandarnos cualquier consulta o sugerencia</b>.
	</p>
</div>

<div style="padding-top:20px;">
	Adapta RGPD creado por <a target="_blank" href="https://superadmin.es/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct">SuperAdmin</a>.
</div>





